.sort {
  &__wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 27px 0;

    @include sm {
      display: flex;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-left: 48px;
    }

    & > *:first-child {
      margin-left: 0;

      @include sm {
        margin-left: 48px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;

    @include sm {
      margin-bottom: 0;
    }
  }
}
