include /blocks/sort-control/sort-control

mixin sort ()
  .sort
    .container
      .sort__wrapper
        .sort__title Сортировать по:
        .sort__controls 
          +sort-control({
            text: 'Цене',
            sortKey: 'price',
            direction: 'down'

          })  
          +sort-control({
            text: 'Возрасту',
            sortKey: 'age',
            direction: 'down',

          })