.hero-wrapper {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero {
  margin: 0 auto;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  padding: 480px 0 76px;
  color: $c-bg;

  @media (min-width: 350px) {
    padding: 330px 0 76px;
  }
  @media (min-width: 560px) {
    padding: 250px 0 76px;
  }
  @media (min-width: 640px) {
    padding: 200px 0 76px;
  }
  @media (min-width: 860px) {
    padding: 140px 0 76px;
  }
}
