mixin footer 
  footer.footer
    .container
      .footer__wrapper
        .footer__text
          h2.footer__title Успей купить!
            p.footer__discription Подпишись и успей словить все акции
        .subscription
          form.subscription__form(action="post")
            .subscription__inner
              input.subscription__email(type="email" placeholder="Email" required)
              button.subscription__button Подписаться
            .subscription__confirm
              input.subscription__check(type="checkbox" id="news")
              label.subscription__label(for="news") Подписаться на новости 
