extends /layouts/main

block variables
  include /blocks/sort/sort
  include /blocks/products/products

  -
    const title = 'Каталог'

block content
  +hero(products.length)
  +sort()
  +products()
 

